---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main>
    <h1>Contact the Intergalactic Information Network</h1>
    <p>
      To inquire about accessing the network or for any other questions, please
      send a transmission to the following coordinates...
    </p>
    <!-- Add additional content here -->
  </main>
</Layout>
