---
import '../styles/global.css';
---

<html>
  <head>
    <title>Intergalactic Information Network</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
      <slot />
    </div>
  </body>
</html>